version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: parking-postgres
    environment:
      POSTGRES_DB: parkingdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d parkingdb" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
